.o-hero-page{

  @apply u-relative u-z-1 u-bg-no-repeat u-bg-cover;

  &:after{

    @apply u-w-screen u-h-full u-top-0 u-left-0 u-absolute u-z-0;

    content: '';
    background: linear-gradient(90.44deg, #232C33 6.29%, rgba(13, 145, 149, 0.361702) 64.73%, rgba(0, 202, 205, 0.04) 99.39%), url(.jpg);
  }

  &__collab{
    &::after{
      background: linear-gradient(90deg, #232C33 6.77%, rgba(55, 92, 147, 0.51) 73.96%, rgba(61, 111, 175, 0.13) 100%), url(.jpg)
    }
  }


  .l-container{
    @apply u-relative u-z-1;

  }

  h1{
    @apply u-text-white u-uppercase md:u-max-w-3xl;

  }
}

// HOME
.o-hero-home{
  @apply u-relative u-z-1 u-bg-no-repeat u-bg-cover;

  &:after{

    @apply u-w-screen u-h-full u-top-0 u-left-0 u-absolute u-z-0;

    content: '';
    // background: linear-gradient(90.14deg, #232C33 1.49%, rgba(35, 44, 51, 0.5) 55.75%, rgba(35, 44, 51, 0) 97.94%), url(.jpg);
    background: linear-gradient(90deg, rgba(35,44,51,1) 0%, rgba(35,44,51,0.9570203081232493) 23%, rgba(35,44,51,0.8113620448179272) 42%, rgba(35,44,51,0.6685049019607843) 52%, rgba(35,44,51,0.5984768907563025) 61%, rgba(35,44,51,0.14469537815126055) 100%);
  }



  .l-container{

    @apply u-relative u-z-1;


  }

  .o-home-hero-text{

    @apply u-text-white u-uppercase md:u-max-w-4xl;

    p{
      
      @apply u-font-semibold u-text-32 xs:u-text-40 sm:u-text-50 u-tracking-widest u-font-heading  ;

      line-height: 68px;

      &:nth-child(2){

       @apply u-text-teal u-text-36 xs:u-text-48 sm:u-text-60 u-font-bold;

      }

    &:last-of-type{

      @apply u-mb-40;

    }


    }

    .o-button{

      @apply u-py-15;

    }

  }

}